.main-page-footer-section {
    background-color: rgb(26, 26, 26);
    height: auto;

  }
  
  .footer-logo-wrapper {
    display: inline-block;
    padding-left: 605px;
    height: 150px;
    align-items: center;
  }
  
  
  .main-footer-logo {
    display: block;
    width: 240px;
    height: auto; 
  }
  
  .main-footer-inner {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    height: 100px;
  }